{% extends "base.html" %}

{% block title %}My Contacts{% endblock title %}

{% block content %}

{% if github_profile_data %}

    <div class="card" style="justify-content: center; margin: 0 auto; padding: 10px; max-width: 50rem">
        <img src="/static/images/road.jpg" class="card-img-top" alt="A winding road">
        <div class="card-body">
            <h3 class="card-title">My contacts</h3>
            <hr class="my-4">
            <p class="card-text">Here is a list of contacts in your address book. Click on a contact to view, edit or delete their contact details, or <a href="/add_contact">add a new contact</a>!</p>
        </div>
        <ul class="list-group list-group-flush">
            {% for contact in contacts %}
                <li class="list-group-item"><a href="/contact/{{ contact.id }}">{{ contact.contact_first_name }} {{ contact.contact_last_name }}</a></li>
            {% endfor %}
        </ul>
        <br>
        <img src="/static/images/space.jpg" class="card-img-top" alt="Another winding road" style="margin-top: 2rem">
        <div class="card-body">
            <h3>Tired of your contacts?</h3>
            <hr class="my-4">
            <h5>Sometimes you just want to get as <a href="/faraway">far away</a> from other humans as possible...</h5>
        </div>
    </div>

{% else %}

    <h3>Oops! Looks like you forgot to log in first!</h3>
    <p>Click <a href="/github/login">here</a> to log in via GitHub.</p>

{% endif %}

{% endblock content %}